.form {
    border-style: double;
    border-width: 2px;
    border-color: black;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
}

.form__field {
    margin: 5px;
}

.form__button--insert {
    border-style: inset;
    border-width: 5px;
    margin: 5px;
    border-color: green;
}

.form__button--select {
    border-style: inset;
    border-width: 5px;
    margin: 5px;
    border-color: blue;
}

.form__text--sucessfull {
    color: blue;
}

.form__text--unsucessfull {
    color: red;
}
